
$text-light: white;
$text-dark: rgb(34, 32, 32);
$shadow-light: 4px 4px 10px #d6d6d6;

$colorA: #F7F7F7;
$colorB: #FFFFFF;
$colorC: #EB4D4C;


*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body{
    font-family:'lato';
    height: 100vh;
    .playground{
        display: flex;
        justify-content: space-evenly;
        height: 100%;

        .player{    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 8em;
            .playerInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2.5rem;
                .playerNamePlate{
                    padding-left: 1em;
                    display: flex;
                    flex-direction: row;
                    .turnDOT{
                        width : 1em;
                    }
                    #turnDotPlayer1{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    #turnDotPlayer2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0%;
                    }
                    
                 
                }
                .score{
                    font-size: 8rem;
                    font-weight: 100;
                    color: $colorC;
                    padding-top: 0.5rem;
                }

            }
            .current{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                div{
                    font-size: 2.5em;
                    font-weight: 100;
                    color: $colorB;
                }
            }
        }
        .buttons{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            button{
                font-family: "lato";
                font-size: 1.5em;
                font-weight: 200;
                border: none;
                background: none;
                display:flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 2em 0 2em 0 ;
                
                img{
                    padding-right: 0.5em;
                    height: 1.2em; 
                    color: #EB4D4C;
                    filter: brightness(0) saturate(100%) invert(61%) sepia(71%) saturate(6033%) hue-rotate(335deg) brightness(102%) contrast(85%);
                }
            }
            .rollAmount{
                padding: 4em 0 4em 0 ;
                background-color: antiquewhite;
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.19);
                .canvas:active{
                    

                    
                }
            }
            
        }
    }
    .background{
        background: $colorA;
        position: absolute;
        height: 100vh;
        width: 50vw;
        left:0;
	    top:0;
        z-index: -1;
    }
}

.current{
    width: 277px;
    height: 186px;
    left: 337px;
    top: 744px;
    background: #EB4D4C;
    text-align: center;
}

