* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'lato';
  height: 100vh;
}

body .playground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

body .playground .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8em;
}

body .playground .player .playerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

body .playground .player .playerInfo .playerNamePlate {
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .playground .player .playerInfo .playerNamePlate .turnDOT {
  width: 1em;
}

body .playground .player .playerInfo .playerNamePlate #turnDotPlayer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .playground .player .playerInfo .playerNamePlate #turnDotPlayer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
}

body .playground .player .playerInfo .score {
  font-size: 8rem;
  font-weight: 100;
  color: #EB4D4C;
  padding-top: 0.5rem;
}

body .playground .player .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}

body .playground .player .current div {
  font-size: 2.5em;
  font-weight: 100;
  color: #FFFFFF;
}

body .playground .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .playground .buttons button {
  font-family: "lato";
  font-size: 1.5em;
  font-weight: 200;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2em 0 2em 0;
}

body .playground .buttons button img {
  padding-right: 0.5em;
  height: 1.2em;
  color: #EB4D4C;
  -webkit-filter: brightness(0) saturate(100%) invert(61%) sepia(71%) saturate(6033%) hue-rotate(335deg) brightness(102%) contrast(85%);
          filter: brightness(0) saturate(100%) invert(61%) sepia(71%) saturate(6033%) hue-rotate(335deg) brightness(102%) contrast(85%);
}

body .playground .buttons .rollAmount {
  padding: 4em 0 4em 0;
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

body .background {
  background: #F7F7F7;
  position: absolute;
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  z-index: -1;
}

.current {
  width: 277px;
  height: 186px;
  left: 337px;
  top: 744px;
  background: #EB4D4C;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */